.ui-mobile [data-role=header],.ui-mobile [data-role=footer]{
background-color: rgba(0, 89, 187, 0.71);
color: beige;
//font-size: 22px;
}
img{
width:100%;
}
form label,legend
{
color:#123456;
}
//p{
//text-align:center;
//}
span{
color:black;
}
// label { display: block; width: 50%; }

.mycheckbox {display: inline-block; width: 100%; }
//.ui-header {text-align: center; width: 100%; }
//.ui-title {text-align: center; width: 100%; }

.ui-checkbox {float: left; display: inline-block; width: 80%;}